<div class="search">
	<div class="input-group">
		<input class="form-control" type="text" [(ngModel)]="search" placeholder="Search">
	</div>
</div>
<div class="bookmarks">
	<div class="row">
		<div class="col-4"
			 *ngFor="let group of filterGroup(groups, search)">
			<div class="card">
				<div class="card-header">{{group.title}}</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item" *ngFor="let bookmark of group.bookmarks">
						<a [href]="bookmark.url">{{bookmark.text}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
